{{ define "main" }}
  {{ partial "page-title.html" . }}

{{ if .Site.Data.classes.about.enable }}
<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        {{ with .Site.Data.classes.about }}
        <p class="font-secondary lead text-dark">{{.content | markdownify}}</p>
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .URL | absURL }}" class="btn btn-transparent">{{.label}}</a>
        {{ end }}
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
<!-- /about -->
{{ end }}

{{ if .Site.Data.classes.classes.enable }}
<!-- classes -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="section-title">{{.Site.Data.classes.classes.title | markdownify }}</h3>
      </div>
      {{  range $i, $e :=  (where .Site.RegularPages "Section" "classes")  }}
      {{ .Render "post" }}
      {{ end }}
    </div>
      <div class="col-lg-10 mx-auto text-center">
        {{ with .Site.Data.classes.classes }}
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .URL | absURL }}" class="btn btn-transparent">{{.label}}</a>
        {{ end }}
        {{ end }}
        {{ end }}
      </div>
  </div>
</section>
<!-- /classes -->
{{ end }}
  
<!-- Work Process -->
{{ if .Site.Data.classes.work_process.enable }}
{{ with .Site.Data.classes.work_process }}
<section class="section">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
      </div>
      {{ range .item }}
      <div class="col-lg-3 col-md-4 text-center hover-shadow pt-3">
        <img src="{{ .icon | absURL }}" class="mb-4" alt="icon">
        <h4 class="mb-4">{{ .title }}</h4>
        <p>{{ .content | markdownify }}</p>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- ./Work Process -->

<!-- team -->
{{ if .Site.Data.homepage.team.enable }}
{{ with .Site.Data.homepage.team }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="section-title">{{ .title | markdownify }}</h3>
      </div>
      {{ range .team_member }}
      <div class="col-md-4 col-sm-6 mb-4 mb-md-0">
        <div class="card text-center">
          <img src="{{ .image | absURL }}" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title">{{.title }}</h4>
            <p class="text-light font-secondary">{{.designation }}</p>
            <a href="{{ .URL | absURL }}" class="btn btn-transparent">{{.label}}</a>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /team -->
  
{{ end }}